@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* common styles */
.primary {
    color: #E55473;
}

.bg-primary {
    background: #e554731a;
}

h1,
h2,
h3,
h4 {
    color: #272727;
    font-weight: 800;
}

p {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: #27272799;
    font-size: 18px;
}

.btn {
    padding: 12px 20px;
    background-color: #E55473;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
    cursor: pointer;
}

.btn:hover {
    background-color: #de214a;
}
i{
    margin-right: 5px;
}
.btn i{
    margin-right: 8px;
}

.margin {
    width: 80%;
    margin: 130px auto;
}

.section-title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.section-description {
    text-align: center;
    width: 55%;
    margin: 24px auto;
}



/* navbar section */
.navbar {
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar-logo img {
    width: 50px;
    margin-right: 10px;
}

.navbar-logo h1 {
    color: #E55473;
    font-size: xx-large;
}

.navbar-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    color: #272727;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.navbar a:hover {
    color: #E55473;
}

.nav-lastitem a {
    color: #E55473;
    border: 2px solid #E55473;
    border-radius: 7px;
    background-color: #e5547305;
    padding: 10px 25px;
    font-weight: 700;
}

.nav-lastitem a:hover {
    background-color: #e5547324;
}
.nav-lastitem a i{
    margin-right: 5px;
}



/* banner section */
.banner-section {
    background-color: #E554731A;
}

.banner-container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    width: 50%;
}

.banner-title {
    font-size: 50px;
    margin-bottom: 10px;
}

.banner-description {
    width: 90%;
    line-height: 30px;
}

.banner-img {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: end;
}

.banner-img img {
    width: 450px;
}


/* feature sectoin */
.feature-section{
    padding-bottom: 24px;
}
.feature-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 24px 0;
}

.feature-box {
    width: 330px;
    height: 380px;
    text-align: center;
}

.feature-box h3 {
    font-weight: 700;
    text-decoration: underline;
    padding: 25px 0;
    color: #272727;
}

.feature-img {
    width: 100%;
    height: 100%;
    border-radius: 400px 400px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.feature-img img {
    width: 220px;
    height: auto;
}

.feature-1 {
    background-color: #A7216226;
}

.feature-2 {
    background-color: #0597A026;
    justify-content: center;
    padding-top: 40px;
}

.feature-3 {
    background-color: #477D1126;
}



/* service section */
.service-section {
    background-color: #2727270D;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 85px 100px;
    margin: 130px auto;
}

.service-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-box img {
    width: 88px;
}

.service-box h4 {
    margin-top: 24px;
    font-weight: 600;
}



/* offer section */
.offer-section {
    background-color: #e554731a;
    padding: 80px 0;
}

.offer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.offer-content {
    text-align: center;
    width: 50%;
}

.offer-description {
    margin: 24px 0;
}

.offer-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-image img {
    width: 280px;
}

.offer-btn {
    margin: 10px 0;
}


/* Instagram Section */
.insta-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 24px 0;
}

.gallery-item img {
    width: 100%;
}



/* Newsletter section */
.newsletter{
    background: url("asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.submit-form input {
    width: 500px;
    padding: 12px 20px;
    background-color: white;
    color: #27272799;
    border: none;
    border-radius: 7px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 400;
}
.submit-form input:focus-visible{
    outline: 2px solid #E55473;
}



/* Footer section */
footer{
    background-color: #111010;
    padding-top: 100px;
    color: white;
}
footer a, h3{
    color: white;
}
.footer-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 24px;
    width: 70%;
    margin: 0 auto;
}
.footer-box{
    width: 25%;
}
.box-1{
    width: 38%;
    margin-right: 15px;
}
.footer-logo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 15px 0;
}
.footer-logo img{
    width: 35px;
    margin-right: 10px;
}
.social-link{
    display: flex;
    align-items: center;
}
.social-link i{
    margin-right: 15px;
    font-size: 18px;
    cursor: pointer;
}
.social-link i:hover{
    color: #E55473;
}
.footer-box h3{
    font-size: 18px;
    margin: 20px 0;
}
.footer-box ul{
    list-style: none;
}
.footer-box ul li, a, p{
    font-size: 16px;
    margin: 5px 0;
}
.footer-box ul li a:hover{
    text-decoration: underline;
    color: #E55473;
}
.footer-title{
    color: white;
    font-size: 30px;
}
.footer-description{
    color: white;
}

.copyright{
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    color: #ffffff66;
    font-size: 16px;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}